* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100.2vh;
    width: 100%;
}

.raiz {
    /* header container-imgs footer */
    display: grid;
    grid-template-areas:
        "header"
        "container-imgs"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 70% auto;
}
.footer {
    display: grid;
    place-items: center;
    grid-area: "footer";
    grid-column: span 4;
}

#header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo menu menu" "creci creci creci";
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
    grid-area: "header";
}
#logo {
    grid-area: "logo";
}
#menu {
    grid-area: "menu";
}
#creci {
    grid-column: span 3;
    grid-area: "creci";
    grid-column-start: 1;
}
#container-imgs {
    display: grid;
    grid-template-areas:
        "titulo galeria1 subtitulo galeria2";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    grid-area: container-imgs;
}
#titulo {
    grid-area: titulo;
}
#subtitulo {
    grid-area: subtitulo;
}
#galeria1 {
    grid-area: galeria1;
}
#galeria2 {
    grid-area: galeria2;
}
#politica {
    grid-area: politica;
}
#legenda {
    grid-area: legenda;
}

@media screen and (max-width: 1024px) {
    .raiz {
        /* header container-imgs footer */
        display: grid;
        grid-template-areas:
            "header"
            "container-imgs"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: minmax(150px,auto);
    }
    #container-imgs {
        display: grid;
        grid-template-areas:
            "titulo"
            "galeria1"
            "subtitulo"
            "galeria2";
        grid-template-columns: 1fr;
        grid-template-rows:repeat(auto,4);
        place-items: center;
        grid-area: container-imgs;
    }
    #container-imgs > .titulo > .text-center {
        padding-bottom: 1rem;
    }
    #container-imgs > .subtitulo > .text-center {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    #container-imgs > .galeria {
        padding-bottom: 1rem;
    }
    #container-imgs > .subtitulo > .text-center > h2 {
        padding-top: 1rem;
    }
    #menu {
        display: grid;
        grid-column: span 2;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
