.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body {
    height: 100.2vh;
    width: 1530px;
}
  
#header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 128px 1fr 1fr;
    grid-area: logo menu menu
               creci creci creci ;
    grid-gap:5px
}
#logo{
    grid-template-areas: logo;
}
#menu{
    grid-column: span 2;
    grid-template-areas: menu;
}
#creci{
    grid-column: span 3;
    grid-template-areas: creci;
}
#body{
    display:grid;
    grid-template-areas: titulo galeria1 
                         subtitulo galeria2
                         footer footer;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100vh;
}
#titulo{
    grid-template-areas: titulo;
}
#subtitulo{
    grid-template-areas: subtitulo;
}
#galeria1{
    grid-template-areas: galeria1;
}
#galeria2{
    grid-template-areas: galeria2;
}
#footer{
    grid-template-areas: footer;
}
